
body {
	background: #bda7a7; /* hexadecimal number */
	padding: 15px;
	font-size: 30px;
}
b{
	color: maroon;
}
p{
	font-size: 14px;
}
div{
	display: flex;
}
img{
	margin: 5px;
	/* width: 400px;
	height: 600px; */
}
